################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/NR.SetupDi/bin/Debug
/NR.SetupDi/obj/Debug
/NR.Win32Natives/bin/Debug
/NR.Win32Natives/obj/Debug
/CoPackageInspector/obj/Debug
/.vs/CoPackageInspector/v16
/NR.Inspector.RT.Framework/bin/Debug
/MainAppRunner/obj/Debug
/CoPackageInspector/bin/Debug
/MainAppRunner/bin/Debug
/NR.Inspector.RT.Framework/obj/Debug
/SetupDiTest/bin/Debug
/SetupDiTest/obj/Debug
/SetupDiTestForm/bin/Debug
/SetupDiTestForm/obj/Debug
/Hardware/Hardware.Model/bin/Debug
/Hardware/Hardware.Model/obj/Debug
/MainApp.Controller/bin/Debug
/MainApp.Controller/obj/Debug
bin
bin
/MainApp.View.Interface/obj/Debug
bin
bin
obj
obj
/.vs
